body,html{
    height:100%;
    background-color: rgb(231, 231, 231);
}

img{
    width: 100px;
    height: 120px;
}

button{
    width: 100%;
  }

.center {
    margin: auto;
    width: 85%;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    background-color: white;
  }

  