<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=Login, initial-scale=1.0">
    <title>Acceso</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">

            <div class="container center">
                <img src="assets/images/logo.jpg">
                <form id="loginForm" >
                    <div class="form-group">
                      <input type="text" id="user" placeholder="Usuario" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                      <input type="password" id="password" placeholder="Contraseña" step="any" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Entrar
                      </button>
                  </form>
            </div>
            

        </div>  
    </div>

    <script src="./login.js"></script>
</body>
</html>